.cabecalho__container {
    display:flex;
    justify-content: space-between;  /* alinhamento horizontal */
    align-items: center; /* alinhamento vertical */
    position: fixed;
    top: 0;
    
}
.cabeclaho__pesquisar__item {
    display: none;
}

@media (min-width: 834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }
}